
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>MedCent</title>
</head>
<body>
    <div class="header">
        <img src="../../assets/icons/Mediamodifier-Design.svg" alt="MedCent" class="logo">
        <h2 class="title_name">MedCent</h2>
        <div class="notifications">
            <img src="../../assets/icons/MedCent Notification Bell.svg" alt="Notifications">
        </div>

        <div class="dropdown-notifications">
            <span>Patient requests</span>
            <hr>
            <div class="request-container">
                <div *ngFor="let req of user_requests" class="request">
                    <div class="request-user">
                        <img [src]="req.img_path" alt="+">
                        <span (click)="redirect(req)">{{req.firstname}} {{req.lastname}}</span>
                    </div>
                    <div class="request-buttons">
                        <input type="button" (click)="accept(req)" value="Accept" class="request-accept">
                        <input type="button" (click)="decline(req)" value="Decline" class="request-decline">
                    </div>
                    <hr/>
                </div>
               
            </div>
        </div>
    </div>

    <div class="container">
     
        <div class="table">
            <div *ngFor="let udata of user_data" class="tr" (mouseenter)="changeFocus(udata)">
                
                <img *ngIf="udata.edit != true" [src]="udata.img_path" d.alt="+" class="user-image">

                <div *ngIf="udata.edit == true " class="avatar-container">
                    <div class="image-container" *ngIf="selected_user.file; else placeholder"
                    [ngStyle]="{backgroundImage: 'url(' + getUser(udata).file + ')'}">
                    </div>
                
                    <ng-template #placeholder>
                        <div class="image-container avatar-placeholder">
                        </div>
                    </ng-template>
                
                    <label for="avatar-input-file">
                        <div class="icon-wrapper">
                            <input type="file" id="avatar-input-file" accept="image/*" (change)="onFileChange($event)" />
                            <mat-icon class="icon" fontIcon="edit">edit</mat-icon>
                        </div>
                    </label>
                
                </div>

                <div class="data" >
                    <div>
                        <span class="label">Firstname:</span>  
                        <span *ngIf="udata.edit != true">{{udata.firstname}}</span>
                        <input *ngIf="udata.edit == true" value="{{udata.firstname}}" placeholder="{{udata.firstname}}" [(ngModel)]="getUser(udata).firstname">
                    </div>
                    <div>
                        <span class="label">Lastname:</span>  
                        <span *ngIf="udata.edit != true">{{udata.lastname}}</span>
                        <input *ngIf="udata.edit == true" value="{{udata.lastname}}" placeholder="{{udata.lastname}}" [(ngModel)]="getUser(udata).lastname">
                    </div>
                    <div>
                        <span class="label">Username:</span>  
                        <span *ngIf="udata.edit != true">{{udata.username}}</span>
                        <input *ngIf="udata.edit == true" value="{{udata.username}}" placeholder="{{udata.username}}"[(ngModel)]="getUser(udata).username">
                    </div>
                    <div>
                        <span class="label">Password:</span>  
                        <span *ngIf="udata.edit != true">{{udata.password}}</span>
                        <input *ngIf="udata.edit == true" value="{{udata.password}}" placeholder="{{udata.password}}" [(ngModel)]="getUser(udata).password">
                    </div>
                    <div>
                        <span class="label">Address:</span>  
                        <span *ngIf="udata.edit != true">{{udata.address}}</span>
                        <input *ngIf="udata.edit == true" value="{{udata.address}}" placeholder="{{udata.address}}"[(ngModel)]="getUser(udata).address">
                    </div>
                    <div>
                        <span class="label">phone:</span>  
                        <span *ngIf="udata.edit != true">{{udata.mobile_phone}}</span>
                        <input *ngIf="udata.edit == true" value="{{udata.mobile_phone}}" placeholder="{{udata.mobile_phone}}"[(ngModel)]="getUser(udata).mobile_phone">
                    </div>
                    <div>
                        <span class="label">Email:</span>  
                        <span *ngIf="udata.edit != true">{{udata.email}}</span>
                        <input *ngIf="udata.edit == true" value="{{udata.email}}" placeholder="{{udata.email}}"[(ngModel)]="getUser(udata).email">
                    </div>
                    <div>
                        <span class="label">Role:</span>  
                        <span *ngIf="udata.edit != true">{{udata.type}}</span>
                        <input *ngIf="udata.edit == true" value="{{udata.type}}" placeholder="{{udata.type}}" [(ngModel)]="getUser(udata).type">
                    </div>
                    <div *ngIf="udata.type == 'Doctor'">
                        <span class="label">Doctor data:</span>  
                        <div class="indent">
                            <div>
                                <span class="label">Licenc number:</span>  
                                <span *ngIf="udata.edit != true"> {{udata.d_data['number_doctor_licenc']}}</span>
                                <input *ngIf="udata.edit == true" value="{{udata.d_data['number_doctor_licenc']}}"
                                 placeholder="{{udata.d_data['number_doctor_licenc']}}"[(ngModel)]="getUser(udata).d_data['number_doctor_licenc']">
                            </div>
                            <div>
                                <span class="label">Specializzazione:</span>  
                                <span *ngIf="udata.edit != true">{{udata.d_data['specializzazione']}}</span>
                                <input *ngIf="udata.edit == true" value="{{udata.d_data['specializzazione']}}" 
                                placeholder="{{udata.d_data['specializzazione']}}"[(ngModel)]="getUser(udata).d_data['specializzazione']">
                            </div>
                            <div>
                                <span class="label">Office branch:</span>  
                                <span *ngIf="udata.edit != true">{{udata.d_data['office_branch']}}</span>
                                <input *ngIf="udata.edit == true" value="{{udata.d_data['office_branch']}}" 
                                placeholder="{{udata.d_data['office_branch']}}"[(ngModel)]="getUser(udata).d_data['office_branch']">
                            </div>
                            
                        </div>
                       
                    </div>
                    <div>
                        <span class="label">Status:</span>  
                        <span *ngIf="udata.edit != true">{{udata.status}}</span>
                        <input *ngIf="udata.edit == true" value="{{udata.status}}" placeholder="{{udata.status}}"[(ngModel)]="getUser(udata).status">
                    </div>  

                    <div class="buttons-container">
                        <div *ngIf="udata.edit != true" class="button">
                            <button class="edit" (click)="edit_mode(udata)">edit</button>
                        </div>
                        <div *ngIf="udata.edit == true" class="button">
                            <button class="edit" (click)="save_mode(udata)">save</button>
                        </div>
                        <div *ngIf="udata.edit != true" class="button">
                            <button class="delete">delete</button>
                        </div>
                        <div *ngIf="udata.edit == true" class="button">
                            <button class="delete" (click)="view_mode(udata)" >cancle</button>
                        </div>
                    </div>                
                </div>
            
        </div>
            
        </div>

    </div>
    <div class="clearfix"></div>
    <div class="container">

    </div>

</body>
</html>