<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MedCent</title>
  </head>
  <body>
    <div class="header">
      <img
        src="../../assets/icons/Mediamodifier-Design.svg"
        alt="MedCent"
        class="logo"
      />
      <h2 class="title_name">MedCent</h2>
      <div class="optiosn">
        <div class="option_profile active">
          <button data-target="div_profile">Profile</button>
        </div>
        <div class="option_doctors">
          <button data-target="div_doctors">Doctors</button>
        </div>
        <div class="option_app">
          <button data-target="div_app">Appointments</button>
        </div>
        <div class="option_noti">
          <button data-target="div_noti">Notifications</button>
        </div>
        <div class="option_logout">
          <button (click)="logout()">Logout</button>
        </div>
      </div>
    </div>

    <div id="div_profile" class="container">
      <div class="title_prof">
        User Profile
      </div>
      <div class="table">
        <div class="tr">
          <img
            *ngIf="patient.edit != true"
            [src]="patient.img_path"
            d.alt="+"
            class="user-image"
          />

          <div *ngIf="patient.edit == true" class="avatar-container">
            <div
              class="image-container"
              *ngIf="getUser().file; else placeholder"
              [ngStyle]="{ backgroundImage: 'url(' + getUser().file + ')' }"
            ></div>

            <ng-template #placeholder>
              <div class="image-container avatar-placeholder"></div>
            </ng-template>

            <label for="avatar-input-file">
              <div class="icon-wrapper">
                <input
                  type="file"
                  id="avatar-input-file"
                  accept="image/*"
                  (change)="onFileChange($event)"
                />
                <mat-icon class="icon" fontIcon="edit">edit</mat-icon>
              </div>
            </label>
          </div>

          <div class="data">
            <div>
              <span class="label">Firstname:</span>
              <span *ngIf="patient.edit != true">{{ patient.firstname }}</span>
              <input
                *ngIf="patient.edit == true"
                value="{{ patient.firstname }}"
                placeholder="{{ patient.firstname }}"
                [(ngModel)]="getUser().firstname"
              />
            </div>
            <div>
              <span class="label">Lastname:</span>
              <span *ngIf="patient.edit != true">{{ patient.lastname }}</span>
              <input
                *ngIf="patient.edit == true"
                value="{{ patient.lastname }}"
                placeholder="{{ patient.lastname }}"
                [(ngModel)]="getUser().lastname"
              />
            </div>
            <div>
              <span class="label">Address:</span>
              <span *ngIf="patient.edit != true">{{ patient.address }}</span>
              <input
                *ngIf="patient.edit == true"
                value="{{ patient.address }}"
                placeholder="{{ patient.address }}"
                [(ngModel)]="getUser().address"
              />
            </div>
            <div>
              <span class="label">phone:</span>
              <span *ngIf="patient.edit != true">{{
                patient.mobile_phone
              }}</span>
              <input
                *ngIf="patient.edit == true"
                value="{{ patient.mobile_phone }}"
                placeholder="{{ patient.mobile_phone }}"
                [(ngModel)]="getUser().mobile_phone"
              />
            </div>
            <div>
              <span class="label">Email:</span>
              <span *ngIf="patient.edit != true">{{ patient.email }}</span>
              <input
                *ngIf="patient.edit == true"
                value="{{ patient.email }}"
                placeholder="{{ patient.email }}"
                [(ngModel)]="getUser().email"
              />
            </div>
            <div class="buttons-container">
              <div *ngIf="patient.edit != true" class="button">
                <button class="edit" (click)="edit_mode()">edit</button>
              </div>
              <div *ngIf="patient.edit == true" class="button">
                <button class="edit" (click)="save_mode()">save</button>
              </div>
              <div *ngIf="patient.edit == true" class="button">
                <button class="delete" (click)="view_mode()">cancle</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="div_doctors" class="containernowrap">
      <div class="header-search">
        <div class="search-bar">
          <img
            src="../../assets//icons/Mediamodifier-Design.svg"
            class="search-image"
          />
          <input
            type="text"
            name="input-search"
            id="header-search"
            placeholder="Search"
            maxlength="33"
          />
        </div>
        <div class="dropdown-search">
          <div class="search-scroll">
            <div class="search-option-title">
              <div>
                <span class="search-options">Search Options</span>
              </div>
            </div>

            <hr />
            <div class="search-user">
              <div>
                <span class="option">firstname: </span>
              </div>
            </div>
            <hr />
            <div class="search-user">
              <div>
                <span class="option">lastname: </span>
              </div>
            </div>
            <hr />
            <div class="search-user">
              <div>
                <span class="option">specializzazione: </span>
              </div>
            </div>
            <hr />
            <div class="search-user">
              <div>
                <span class="option">office_branch: </span>
              </div>
            </div>
            <hr />
            <div class="search-option-title">
              <div>
                <span class="search-options">Filter Options</span>
              </div>
            </div>
            <hr />
            <div class="search-user">
              <div>
                <span class="option">FilterASC firstname </span>
              </div>
            </div>
            <hr />
            <div class="search-user">
              <div>
                <span class="option">FilterASC lastname </span>
              </div>
            </div>
            <hr />
            <div class="search-user">
              <div>
                <span class="option">FilterASC specializzazione </span>
              </div>
            </div>
            <hr />
            <div class="search-user">
              <div>
                <span class="option">FilterASC office_branch </span>
              </div>
            </div>
            <hr />
            <div class="search-user">
              <div>
                <span class="option">FilterDESC firstname </span>
              </div>
            </div>
            <hr />
            <div class="search-user">
              <div>
                <span class="option">FilterDESC lastname </span>
              </div>
            </div>
            <hr />
            <div class="search-user">
              <div>
                <span class="option">FilterDESC specializzazione </span>
              </div>
            </div>
            <hr />
            <div class="search-user">
              <div>
                <span class="option">FilterDESC office_branch </span>
              </div>
            </div>
            <hr />
          </div>
        </div>
      </div>

      <div class="flex_containerdoc">
        <div *ngFor="let d of doctors" class="container_table_inner">
          <div class="tabledoc">
            <div class="trdoc">
              <img [src]="d.img_path" d.alt="+" class="user-imagedoc" />

              <div class="datadoc">
                <div>
                  <span class="labeldoc">Firstname:</span>
                  <span>{{ d.firstname }}</span>
                </div>
                <div>
                  <span class="labeldoc">Lastname:</span>
                  <span>{{ d.lastname }}</span>
                </div>
                <div>
                  <span class="labeldoc">Specializzazione:</span>
                  <span>{{ d.specializzazione }}</span>
                </div>
                <div>
                  <span class="labeldoc">Office Branch:</span>
                  <span>{{ d.office_branch }}</span>
                </div>
                <div>
                  <button
                    class="view_button"
                    (click)="view_profile(d.doctor_id)"
                  >
                    view profile
                  </button>
                </div>
              </div>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>

    <div id="div_app" class="containernowrap">
        <div class="buttons-container_app">
            <div class="button_ca">
              <button class="records" >Records</button>
            </div>
            <div class="button_ca">
              <button class="appoin">Appointments</button>
            </div>
          </div>
      <div id="rec">
        <div class="record_title">
          <span>My Records</span>
          <div class="buttons-container_records_all">
            <div class="button_rec_all">
              <button  id="download_all" class="download_all" (click)="download_all_function()">Download all</button>
            </div>
          </div>
        </div>
        <div class="container2">
          <div class="table2">
            <div *ngFor="let r of my_records" class="tr">
              <div class="data">
                <div>
                  <span class="label">Date of scheduler: </span>
                  <span>{{ r.date_of_schedule }}</span>
                </div>
                <div>
                  <span class="label">Date of report: </span>
                  <span>{{ r.date_of_report }}</span>
                </div>
                <div>
                  <span class="label">Doctors name: </span>
                  <span>{{ r.doctors_name }}</span>
                </div>
                <div>
                  <span class="label">Specializzazione: </span>
                  <span>{{ r.specializzazione }}</span>
                </div>
                <div>
                  <span class="label">Reason for comming: </span>
                  <span>{{ r.reason_for_comming }}</span>
                </div>
                <div>
                  <span class="label">Diagnosis: </span>
                  <span>{{ r.diagnosis }}</span>
                </div>
                <div>
                  <span class="label">Therapy: </span>
                  <span>{{ r.therapy }}</span>
                </div>
                <div>
                  <span class="label">Date of next session: </span>
                  <span>{{ r.next_session }}</span>
                </div>

                <div class="buttons-container">
                  <div class="button">
                    <button id="{{r.date_of_report}}" class="edit" (click)="donwload_function(r, r.date_of_report)">Download</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
      </div>
      <div id="appoin">
        <div class="record_title">
          <span>My Appointments</span>
   
        </div>

        <div class="container2">
          <div class="table2">
            <div *ngFor="let a of my_appoinments" class="tr">
              <div class="data">
                <div>
                  <span class="label">Service: </span>
                  <span>{{ a.servics }}</span>
                </div>
                <div>
                  <span class="label">Date start: </span>
                  <span>{{ a.date_start }}</span>
                </div>
                <div>
                  <span class="label">Date end: </span>
                  <span>{{ a.date_end }}</span>
                </div>
                <div>
                  <span class="label">Office branch: </span>
                  <span>{{ a.office_branch }}</span>
                </div>
                <div>
                  <span class="label">Doctors: </span>
                  <span>{{ a.doctor_firstname }}</span>
                  <span>{{ a.doctor_lastname }}</span>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="div_noti" class="container">
      <div id="rec">
        <div class="record_title">
          <span>My Notifications</span>
        </div>
        <div class="container3">
          <div class="table2">
            <div *ngFor="let n of my_notifi" class="tr" [ngClass]="{ 'green-border': !n.seen }">
              <div class="data" *ngIf="n.type == 'sale'">
                <div>
                  <span class="label">Sale</span>
                </div>
                <div>
                  <span class="label">Service name</span>
                  <span>{{n.matched_service_name}}</span>
                </div>
                <div>
                  <span class="label">Service cost </span>
                  <span>{{n.matched_service_cost}}</span>
                </div>
                <div>
                  <span class="label">Off </span>
                  <span>{{n.off}}%</span>
                </div>
              </div>
              <div class="data" *ngIf="n.type == 'cancelation'">
                <div>
                  <span class="label">Cancelation</span>
                </div>
                <div>
                  <span class="label">Service name: </span>
                  <span>{{n.servics}}</span>
                </div>

                <div>
                  <span class="label">Date start: </span>
                  <span>{{n.date_start}}</span>
                </div>

                <div>
                  <span class="label">Date end: </span>
                  <span>{{n.date_end}}</span>
                </div>

                <div>
                  <span class="label">Doctor name: </span>
                  <span>{{n.firstname +" " + n.lastname}}</span>
                </div>

                <div>
                  <span class="label">Note: </span>
                  <span>{{n.cancled_note}}</span>
                </div>
              </div>
              <div class="data" *ngIf="n.type == '24h'">
                <div>
                  <span class="label">24h Remander</span>
                </div>
                <div>
                  <span class="label">Service: </span>
                  <span>{{n.servics}}</span>
                </div>
                <div>
                  <span class="label">Start Date: </span>
                  <span>{{n.date_start}}</span>
                </div>
                <div>
                  <span class="label">End Date: </span>
                  <span>{{n.date_end}}</span>
                </div>
                <div>
                  <span class="label">Doctor: </span>
                  <span>{{n.firstname}} {{n.lastname}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
      </div>


    </div>
  </body>
</html>
